/* Some convenient global styling variables, modify and add to as necessary. Please note that all variable names need
to be defined under :root, are preceded by -- and are case sensitive.*/

:root{
    --main-background-color: white;

    --main-font-family: 'Inter', sans-serif;
    --main-font-color: black;

    --slide-margin-left: 3.5%;
    --slide-margin-right: 3.5%;
    --slide-margin-top: 2.5%;
    --slide-margin-bottom: 2%;

    --slide-title-position: left; /* left, center, or right */
    --slide-number-position: left; /* left, center, or right */

}

/* Do some font stuff first. */

body {
    /* Set initial font size to 12px. This doesn't mean all text will be 12px, but means all text will be sized
     *relative* to this, using the CSS "em" unit. (For example, font-size: 1em = 12px, font-size: 2em = 24px and so
     on.) Adjust this if you change the overall presentation size and need to update all font sizes. */
    font-size: 12px;
}

/* Google font import: 'Inter' by Rasmus Andersson: https://fonts.google.com/specimen/Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Increase weight of bold text - to this end, update font-weight property of <strong> HTML tag. */
strong {
    font-weight: 600;
}

html, body {
    background: var(--main-background-color);
    font-family: var(--main-font-family);
    font-weight: 300;
    color: var(--main-font-color);
}

/* Applies to all elements of slide, including title, page number and left/right controls. Left empty by default,
but can be modified if required.*/
#slide-container {}

#slide-title {
    font-size: 4em;
    font-weight: 500;
    text-align: var(--slide-title-position);
    padding-left: var(--slide-margin-left);
    padding-right: var(--slide-margin-right);
    padding-top: var(--slide-margin-top);
}

/* Applies to the content for each slide, *except* the title, page number and navigation */
#slide-content {
    margin-left: var(--slide-margin-left);
    margin-right: var(--slide-margin-right);
    column-gap: 20px;
    row-gap: 5px;
}


/* Controls basic appearance of text added via Slide.add_textbox(...) */
.textbox {
    font-size: 1.7em;
    line-height: 1.3;
}

#slide-number {
    font-size: 1.7em;
}

/*** Slide navigation and controls ***/

.slide-control {
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

/* Rounded borders for prev/next controls */
.slide-control.prev {
    border-radius: 0 4px 4px 0;
}

.slide-control.next {
    border-radius: 4px 0 0 4px;
}

/* Add a bit of hover effect to the slide controls */
.slide-control.prev:hover, .slide-control.next:hover {
    background-color: rgba(0,0,0,0.3);
}


/* The navigation menu that appears when hovering over the page number */
#nav-menu-content {
    background-color: var(--main-background-color);
    border-style: solid;
    border-width: 1px;
    border-color: #626262;
    border-radius: 3px;
    font-size: 0.85em;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    line-height: 1.25;
}

#fullscreen-link {
    font-weight: 400;
    font-size: 0.75em;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 0.2em;
}


