{# Contains essential CSS required for proper functioning. Edit at your peril. #}

body {
    font-size: 12px;
}

/*\ Slide container and content \*/

#slide-container {
    position: absolute;
    display: block;
    margin: auto;
}

#slide-content {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
}

/*\ Slide number, navigation menu and footer \*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
}

#nav-menu {

}

#nav-menu-content {
    display: none;
    position: relative;
    z-index: 100;
    padding: 10px;
    margin: -3px;
}

#nav-menu-content.right {
    right: 20px;
}

#nav-menu-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#slide-number {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

/*\ Slide controllers - forward and back controls \*/

.slide-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    user-select: none;
    z-index: 100;
    text-decoration: none;
}

.slide-control.next {
    /* Position the "next button" to the right. */
    right: 0;
}