{# Contains essential CSS required for proper functioning. Edit at your peril. #}

/*\ Slide container and content \*/

#slide-container {
    max-width: 99%;
    position: absolute;
    display: block;
    width: 99%;
    height: 99%;
    margin: auto;
}

#slide-content {
    position: relative;
    margin-left: var(--slide-margin-left);
    margin-right: var(--slide-margin-right);
    margin-bottom: var(--slide-margin-bottom);
    display: grid;
    max-height: 90vh;
    column-gap: 20px;
    row-gap: 5px;
}

/*\ Slide number, navigation menu and footer \*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
}

#nav-menu {
    padding-left: var(--slide-margin-left);
    padding-right: var(--slide-margin-right);
    padding-bottom: var(--slide-margin-bottom);
    text-align: var(--slide-number-position);
}

#nav-menu-content {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 60px;
    padding: 10px;
}

#nav-menu-content.right {
    right: 20px;
}

#nav-menu-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#slide-number {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

/*\ Slide controllers - forward and back controls \*/

.slide-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    user-select: none;
    z-index: 100;
    text-decoration: none;
}

.slide-control.next {
    /* Position the "next button" to the right. */
    right: 0;
}