{# Contains essential CSS required for proper functioning. Edit at your peril. #}

body {
    font-size: 12px;
    box-sizing: border-box;
}

/*\ Slide container and content \*/

#slide-container {
    position: absolute;
    display: block;
}

#slide-content {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
}

/*\ Slide number, navigation menu and footer \*/

footer {
    position: absolute;
    display: block;
    bottom: 0;
    width: -moz-available;
    width: -webkit-fill-available;
    width: -fill-available;
}

#nav-menu {
    position: relative;
}

#slide-number {
    display: block;
    padding: 2.5%;
    text-align: left;
}

#slide-number-span {
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
}

#nav-menu-content {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10px;
    text-align: left;
    bottom: 2em;
}

#nav-menu-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#slide-title {
    font-size: 3em;
    padding-top: 2%;
    padding-left: 2%;
}

/*\ Slide controllers - forward and back controls \*/

.slide-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    user-select: none;
    z-index: 100;
    text-decoration: none;
}

.slide-control.next {
    /* Position the "next button" to the right. */
    right: 0;
}